<div class="card">
  <div class="card-body">
    <div class = "row card_head">
      <div class="col-md-1 profile_pic_cont">
         <img class="profile_pic" src="https://i.pinimg.com/600x315/24/23/93/242393e70e9f431d3d10ebaa48d76806.jpg">
      </div> 
      <div class="col-md-11">
        <h4 class="card-user"><%= post.user.name %></h4>
        <h5 class="card-subtitle mb-2 text-muted update_date"><%= post.updated_at %></h5>
      </div> 
    </div> 
    <p class="card-text"><%= post.content %></p>
    <!-- <td><%= post.media %></td> -->
    <!-- <td><%= post.recipient_id %></td> -->
  <% unless view == 'show' %>
      <%= link_to 'Show', post , class:'card-link'%>
    <% end %>
  </div>
</div>      

