<br>
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
  <p id="notice"><%= notice %></p>
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= User.find(post.user_id).name %></h4>
          <h5 class="card-subtitle mb-2 text-muted">Card subtitle</h5>
          <p class="card-text"><%= post.content %></p>
          <!-- <td><%= post.media %></td> -->
          <!-- <td><%= post.recipient_id %></td> -->
          <%= link_to 'Show', post , class:'card-link'%>
          <%= link_to 'Edit', edit_post_path(post) , class:'card-link'%>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class:'card-link'%>
        </div>
      </div>      
    <% end %>
  <% end %>


